[submodule "themes/hugo-conference"]
	path = themes/hugo-conference
	url = https://github.com/jweslley/hugo-conference
[submodule "themes/hugo-conference-kotlin-cwb-2019"]
	path = themes/hugo-conference-kotlin-cwb-2019
	url = https://github.com/Streppel/hugo-conference
